<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="vue_task.css">
    <link rel="stylesheet" href="preloader.css">
    <script src="datepicker.js"></script>
    <script src="v-mask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

<div id="app">
    <div v-if="isPreloaderActive" class="preloader">
        <div class="block">
            <p class="circle">
     <span class="ouro ouro3">
    <span class="left"><span class="anim"></span></span>
    <span class="right"><span class="anim"></span></span>
  </span>
            </p>
        </div>
    </div>

    <select @change="getTable()" v-model="current" class="filial">
        <option disabled>Выберите филиал</option>
        <option v-for="department in departmentsList">{{department}}</option>
    </select>

    <ul class="title">
        <li>Группа</li>
        <li>Начало обучения</li>
        <li>Дни занятий</li>
        <li>Время занятий</li>
        <li>Удалить запись</li>
    </ul>

    <ul v-for="group in groupsList" class="table">
        <li>
            <select v-model="group.type" class="group">
                <option value="Утренняя">Утренняя</option>
                <option value="Дневная">Дневная</option>
                <option value="Вечерняя">Вечерняя</option>
                <option value="Ночная">Ночная</option>
            </select>
            <vuejs-datepicker :format="'dd.MM.yyyy'" v-model="group.startDate" :monday-first="true"></vuejs-datepicker>
            <select multiple v-model="group.daysOfTheWeek" class="days">
                <option value="Понедельник">Понедельник</option>
                <option value="Вторник">Вторник</option>
                <option value="Среда">Среда</option>
                <option value="Четверг">Четверг</option>
                <option value="Пятница">Пятница</option>
                <option value="Суббота">Суббота</option>
                <option value="Воскресение">Воскресение</option>
            </select>
            <select v-model="group.status" class="recruitment">
                <option value="Идет набор">Идет набор</option>
                <option value="Донабор">Донабор</option>
                <option value="Набор окончен">Набор окончен</option>
            </select>
            <input type="text" v-mask="timeMask" v-model="group.timeLessons">
        </li>
        `
    </ul>

    <div class="control">
        <button type="submit" class="button button_add">Добавить строку</button>
        <button type="submit" class="button button_save">Сохранить данные</button>
    </div>


</div>

<script src="vue_task.js">
</script>

</body>
</html>