body, ul, li {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px
}

.filial {
    width: 500px;
    margin: 0 auto 20px;
}

li {
    display: flex;
    align-items: flex-start;
}

li select, li input, li vuejs-datepicker, .filial {
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid #0000003d;
    cursor: pointer;
}

li select, li input, li vuejs-datepicker {
    margin-right: 35px;
}

.button {
    padding: 10px;
    background: #cf1616ba;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.button:hover {
    background: rgba(207, 22, 22, 0.88);
}

.button_add {
    background: rgba(1, 47, 207, 0.73);
}

.button_add:hover {
    background: rgba(1, 47, 207, 0.84);
}

.button_save {
    background: rgba(3, 141, 15, 0.73);
}

.button_save:hover {
    background: rgba(3, 141, 15, 0.85);
}

.title {
    background: rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.61);
    display: flex;
    justify-content: space-between;
    padding: 20px 45px 20px 70px;
    box-shadow: 0 5px 3px -1px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 5px 3px -1px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 5px 3px -1px rgba(0, 0, 0, 0.23);
}

.title, .table {
    margin-bottom: 20px;
}

.time {
    margin-right: 55px;
    width: 200px;
}

.days {
    margin-right: 10px;
}

.recruitment, .group {
    width: 150px;
}