<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/vue_task.css">
    <link rel="stylesheet" href="css/preloader.css">
</head>
<body>

<div id="app">

    <div v-if="isPreloaderActive" class="preloader">
               <span class="circle">
                  <span class="circle__left"><span class="anim"></span></span>
                  <span class="circle__right"><span class="anim"></span></span>
               </span>
    </div>

    <select @change="getTable()" v-model="currentDepartment" class="filial">
        <option value disabled selected>Выберите филиал</option>
        <option v-for="(department, index) in departmentsList" :key="index">{{department}}</option>
    </select>
    <div v-if="isTableVisible">
        <ul class="table__header">
            <li>Группа</li>
            <li>Начало обучения</li>
            <li>Дни занятий</li>
            <li>Время занятий</li>
            <li>Удалить запись</li>
        </ul>
        <ul class="table" v-for="(tableRow, index) in table">
            <li>
                <select class="group" v-model="tableRow.group">
                    <option value="Утренняя">Утренняя</option>
                    <option value="Дневная">Дневная</option>
                    <option value="Вечерняя">Вечерняя</option>
                    <option value="Ночная">Ночная</option>
                </select>
                <vuejs-datepicker :format="'dd.MM.yyyy'" v-model="tableRow.date"
                                  :monday-first="true"></vuejs-datepicker>
                <select multiple v-model="tableRow.days" class="days">
                    <option value="Понедельник">Понедельник</option>
                    <option value="Вторник">Вторник</option>
                    <option value="Среда">Среда</option>
                    <option value="Четверг">Четверг</option>
                    <option value="Пятница">Пятница</option>
                    <option value="Суббота">Суббота</option>
                    <option value="Воскресение">Воскресение</option>
                </select>
                <select v-model="tableRow.status" class="recruitment">
                    <option value="Идет набор">Идет набор</option>
                    <option value="Донабор">Донабор</option>
                    <option value="Набор окончен">Набор окончен</option>
                </select>
                <input type="text" v-mask="timeMask" v-model="tableRow.time" class="time">
                <button type="button" class="button" @click="deleteTable(index)">Удалить</button>
            </li>

        </ul>
        <div class="control">
            <button type="button" class="button button_add" @click="addNewTable">Добавить строку</button>
            <button type="button" class="button button_save" @click="sendTable">Сохранить данные</button>
        </div>
    </div>


</div>

<script src="js/datepicker.js"></script>
<script src="js/v-mask.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="js/vue_task.js"></script>

</body>
</html>